


#study-bible .tools .help-title
	{
	margin-left:7px;
	}

#study-bible .tools .container
	{
	padding:0;
	clear:both;
	}

#study-bible .tools .tab-pane
	{
	background-color:#fafafa;
	}

/***************************************
      ___                 _                 
     / _ \__   _____ _ __| | __ _ _   _ ___ 
    | | | \ \ / / _ \ '__| |/ _` | | | / __|
    | |_| |\ V /  __/ |  | | (_| | |_| \__ \
     \___/  \_/ \___|_|  |_|\__,_|\__, |___/
                                  |___/     

****************************************/
	#study-bible div.study-bible-results 
		{
		margin:0;
		font-family: "Montserrat", sans-serif;
		}
	div.study-bible-cover 
		{
		display:block;
		background-color:#fff;
		height:100vh;
		font-family: "Montserrat", sans-serif;
		color:#fafafa;
		font-size:70px;
		text-align:center;
		font-weight:700;
		display:block;
		width:100%;
		padding-top:100px;
		}
	#study-bible div.start-help
		{
		display:none;
		}

		

	#study-bible.row 
		{
		margin-left:0;
		margin-right:0;
		}


	

	.study-bible-form .bible-search-form .drop-down select#scope
		{
		border-bottom-left-radius:10px;
		width:50%;
		height:calc(1.5rem + 0.75rem + 2px);
		padding:0.375rem 0.75rem;
		font-size:15px;
		line-height:1.5;
		border:1px solid #ced4da;
		}

	.study-bible-form .bible-search-form .drop-down select#version
		{
		border-bottom-right-radius:10px;
		width:50%;
		height:calc(1.5rem + 0.75rem + 2px);
		padding:0.375rem 0.75rem;
		font-size:15px;
		line-height:1.5;
		border:1px solid #ced4da;
		margin-left:-1px
		}


/***************************************
    _____           _     
   |_   _|__   ___ | |___ 
     | |/ _ \ / _ \| / __|
     | | (_) | (_) | \__ \
     |_|\___/ \___/|_|___/
                       
****************************************/

	#study-bible .tools ul.nav.nav-tabs 
		{
		clear: both;
		}

	#study-bible .tools ul.nav.nav-tabs li 
		{
		list-style: none;
		float: left;
		}   

	#study-bible .tools .nav>li>a 
		{
		position: relative;
		display: block;
		padding: 10px 15px;
		}

	#study-bible .tools .nav 
		{
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		}  

	#study-bible .tools .nav-tabs>li>a 
		{
		margin-right: 2px;
		line-height: 1.42857143;
		border: 1px solid transparent;
		border-radius: 4px 4px 0 0;
		background-color: #eee;
		height:100%;
		}

	#study-bible .tools .nav-tabs>li>a>h4 
		{
		color:#777;
		}

	#study-bible .tools .nav-tabs>li.active>a>h4 
		{
		color:#833;
		}

	#study-bible .tools .nav-tabs>li.active>a, #study-bible .tools .nav-tabs>li.active>a:focus, #study-bible .tools .nav-tabs>li.active>a:hover 
		{
		color: #000;
		cursor: default;
		background-color: #fafafa;
		border: 1px solid #ddd;
		border-bottom-color: transparent;
		position:relative;
		z-index:1;
		margin-top:2px;
		}

	#study-bible .tools .nav>li 
		{
		position: relative;
		display: block;
		}

	#study-bible .tools .nav-tabs>li 
		{
		float: left;
		margin-bottom: -1px;
		}

	#study-bible .tools .nav:after, 
	#study-bible .tools .nav:before, 
	#study-bible .tools .navbar-collapse:after, 
	#study-bible .tools .navbar-collapse:before, 
	#study-bible .tools .navbar-header:after, 
	#study-bible .tools .navbar-header:before, 
	#study-bible .tools .navbar:after, 
	#study-bible .tools .navbar:before, 
	#study-bible .tools .pager:after, 
	#study-bible .tools .pager:before, 
	#study-bible .tools .panel-body:after, 
	#study-bible .tools .panel-body:before, 
	#study-bible .tools .row:after, .row:before 
		{
		display: table;
		content: " ";
		}

	#study-bible .tools .nav:after, 
	#study-bible .tools .navbar-collapse:after, 
	#study-bible .tools .navbar-header:after, 
	#study-bible .tools .navbar:after, 
	#study-bible .tools .pager:after, 
	#study-bible .tools .panel-body:after, .row:after 
		{
		clear: both;
		} 

	#study-bible .tools .nav-tabs 
		{
		border-bottom: 1px solid #ddd;
		} 

	#study-bible .tools .nav-item.tools 
		{
		font-size: 12px;
		width:50px;
		text-align:center;
		}
	
	#study-bible .tools .nav-item.tools a.nav-link 
		{
		padding: 7px 9px 7px 9px;
		border-top-left-radius: 5px!important;
		border-top-right-radius: 5px!important;
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
		height:45px;
		}
	
	#study-bible .tools .nav-item.tools a:hover.nav-link 
		{
		background-color: #666666;
		color: #fff;
		}
	
	#study-bible .tools .nav-item.tools a.nav-link.active 
		{
		border-top-left-radius: 5px!important;
		border-top-right-radius: 5px!important;
		background-color: #a10f2b!important;
		color: #fff;
		}
	
	#study-bible .tools .nav-item.tools.active a.nav-link 
		{
		border-top-left-radius: 5px!important;
		border-top-right-radius: 5px!important;
		background-color: #a10f2b!important;
		color: #fff;
		}
	
	#study-bible .tools .nav-item.tools a.nav-link.active::before 
		{
		display: none;
		}
	
	#study-bible .tools .nav-item.tools a:hover.nav-link.active 
		{
		color: #fff;
		}	

	#study-bible .tools .tools a.nav-link i 
		{
		font-size: 25px;
		}

	#study-bible .tools blockquote 
		{
		border-color:transparent!important;
		color:#000!important;
		}

	#study-bible .tools #outline-data .title 
		{
		margin-bottom:7px;
		font-weight:bold;
		font-size:15px;
		}



	#study-bible .tools .tab-pane:not(.active) 
		{
		display: none;
		}  

	#study-bible .tools p 
		{
		line-height:1.4;
		text-indent:20px;
		margin:0;
		font-family: "Montserrat", sans-serif;
		}

	#study-bible .tools blockquote 
		{
		line-height:1.4;
		margin-left:10px;
		padding:0;
		}

	#study-bible .tools blockquote:before 
		{
		content: "";
		}

	#study-bible .tools blockquote p 
		{
		margin:0;
		}

	#study-bible .tools small 
		{
		font-family: "Montserrat", sans-serif;
		}

	#study-bible .tools .tool-title 
		{
		color:#833;
		}

	#study-bible .tools
		{
		margin-left:-15px;
		padding-right:10px;
		position:relative;
		z-index:0;
		padding-left:30px;
		font-size:11.5px;
		background-color:#fafafa;
		margin-top:50px;
		border-radius:20px;
		margin-bottom: 10px;
		padding-top:20px;
		max-width:50%;
		display:block;
		}

	#study-bible .start-help.tools 
		{
		margin-left:0;
		padding-right:0;
		position:relative;
		z-index:0;
		padding-left:0;
		font-size:15px;
		background-color:transparent;
		margin-top:0;
		border-radius:0;
		margin-bottom: 0px;
		padding-top:0px;
		max-width:100%;		
		}

	#study-bible .start-help.tools .tab-content
		{
		background-color:#fafafa;
		font-family: 'Montserrat';
		font-size:15px;
		position:relative;
		z-index:0
		}

	#study-bible .holman-xref .tools
		{
		margin-left:-15px;
		padding-right:10px;
		position:relative;
		z-index:0;
		padding-left:30px;
		font-size:11.5px;
		background-color:#fafafa;
		margin-top:50px;
		border-radius:20px;
		margin-bottom: 10px;
		padding-top:20px;
		max-width:47%;
		display:block;
		}

	#study-bible .tools .tool-nav 
		{
		margin-top:-67px;
		margin-bottom:-10px;
		border-bottom:1px solid #fafafa;
		}

	#study-bible .tools .tool-nav>li>a 
		{
		padding:10px 15px;
		}

	#study-bible .tools .tool-nav>li.active>a, 
	#study-bible .tools .tool-nav>li.active>a:focus, 
	#study-bible .tools .tool-nav>li.active>a:hover
		{
		background-color:#fafafa;
		border:1px solid #fafafa;
		}

	#study-bible .tools .tool-content 
		{
		margin-top:45px;
		}

	#study-bible .tools #introduction-results strong 
		{
		display:block;
		text-indent:0;
		border-bottom:1px solid #ccc;
		font-family:Poppins,san-serif;
		font-size:15px;
		font-weight:900;
		letter-spacing:1px;
		margin-top:10px;
		}

	#study-bible .tools #introduction-results h4 
		{
		text-align:center;
		font-family:Poppins,san-serif;
		margin-bottom:0;
		line-height:1;
		color:#833;
		}

	#study-bible .tools #introduction-results h5
		{
		display:block;
		text-indent:0;
		border-bottom:1px solid #ccc;
		font-family: "Montserrat", sans-serif;
		font-size:12.5px;
		font-weight:700;
		letter-spacing:.5px;
		margin-top:10px;
		margin-bottom:2px;
		color:#833;
		background-color:#fafafa;
		position:relative;
		z-index:0;
		overflow:hidden;
		text-transform:uppercase;
		}

	#study-bible .tools #introduction-results p 
		{
		text-align:justify;
		font-family: "Montserrat", sans-serif;
		}

	#study-bible .tools #introduction-results hr 
		{
		border:none;
		height:1px;
		background-color:#ddd;
		}

	#study-bible .tools #outline-results strong 
		{
		display:block;
		text-indent:0;
		border-bottom:1px solid #ccc;
		font-family:Poppins,san-serif;
		font-size:15px;
		font-weight:900;
		letter-spacing:1px;
		margin-top:10px;
		}

	#study-bible .tools #outline-results h4 
		{
		text-align:center;
		font-family:Poppins,san-serif;
		margin-bottom:0;
		line-height:1;
		color:#833;
		}

	#study-bible .tools #outline-results h5
		{
		display:block;
		text-indent:0;
		font-family: "Montserrat", sans-serif;
		font-size:13px;
		font-weight:600;
		margin-top:10px;
		margin-bottom:2px;
		color:#833;
		font-style:italic;
		}

	#study-bible .tools #outline-results td 
		{
		border:none;
		font-family: "Montserrat", sans-serif;
		line-height:1.2;
		}

	#study-bible .tools #outline-results td strong
		{
		border:none;
		font-family: "Montserrat", sans-serif;
		font-weight:700;
		white-space:nowrap;
		font-size:13px;
		letter-spacing:0;
		margin:0;
		}

	#study-bible .tools #outline-results p 
		{
		text-align:justify;
		font-family: "Montserrat", sans-serif;
		}

	#study-bible .tools #outline-results hr 
		{
		border:none;
		height:1px;
		background-color:#ddd;
		}

	#study-bible .tools #outline-results blockquote 
		{
		line-height:1.4;
		margin-left:20px;
		padding:0;
		}

	#study-bible .tools #outline-results blockquote p
		{
		margin:5px 0;
		}

	#study-bible .tools .hebrew
		{
		display:block;
		font-family:'Times New Roman',serif;
		text-align:right !important;
		font-size:27px;
		}

	#study-bible .tools .interlinear
		{
		display:block;
		font-family:'Times New Roman',serif;
		}

	#study-bible .tools .interlinear h4 
		{
		text-align:center;
		color:#800;
		font-family: Poppins, san-serif;
		margin-bottom:0px;
		font-size:21px;
		margin-top:-35px;
		}

	#study-bible .tools .hebrew-verse 
		{
		margin-right:15px;
		line-height:.7;
		clear:both;
		direction:rtl;
		display:flex;
		flex-wrap:wrap;
		}

	#study-bible .tools .hebrew-verse-number 
		{
		float:right;
		font-size:12px;
		margin-top:10px;
		margin-right:-15px;
		font-family: 'Ovo',serif;
		}

	#study-bible .tools .hebrew h4 
		{
		text-align:center;
		color:#800;
		font-family: Poppins, san-serif;
		margin-bottom:0px;
		}

	#study-bible .tools .int-heb-word 
		{
		text-align:center;
		padding:1px 2px;
		flex:none;
		float:right;
		border:1px solid transparent;
		cursor:default;
		}

	#study-bible .tools .int-heb-word .heb
		{
		font-size:20px;
		font-weight:700;
		}

	#study-bible .tools .int-heb-word .eng
		{
		display:block;
		font-family: "Montserrat", sans-serif;
		font-size:10px;
		margin-top:4px;
		}

	#study-bible .tools #hebgreek-results 
		{
		margin-left:-10px;
		margin-right:-10px;
		}
	
	#study-bible .tools .int-gre-word 
		{
		text-align:center;
		padding:0 1px;
		flex:none;
		float:left;
		border:1px solid transparent;
		cursor:default;
		line-height:.8;
		}

	#study-bible .tools .int-gre-word .gre
		{
		font-size:14.5px;
		font-weight:700;
		}

	#study-bible .tools .int-gre-word .eng
		{
		display:block;
		font-family: "Montserrat", sans-serif;
		font-size:9px;
		margin-top:4px;
		}

	.virtual-study-bible.tooltip .tooltip-inner
		{
		background:#fff;
		background: linear-gradient(180deg, #fff 0%,#ffe 100%);
		box-shadow:1px 1px 10px rgba(0,0,0,0.3);
		font-family: "Montserrat", sans-serif;
		color:#000;
		border-radius:7%;
		line-height:1.3;
		border: 5px ridge rgba(226, 154, 21, 0.5);
		max-width:1000px;
		}

	.virtual-study-bible.tooltip .tooltip-inner .hebrew
		{
		font-family:'Times New Roman',serif;
		text-align:center !important;
		font-size:35px;
		margin-top:-8px;
		font-weight:600;
		white-space:nowrap;
		}

	.virtual-study-bible.tooltip .tooltip-inner .greek
		{
		font-family:'Times New Roman',serif;
		text-align:center !important;
		font-size:35px;
		margin-top:-8px;
		font-weight:600;
		white-space:nowrap;
		}

	.virtual-study-bible.tooltip .tooltip-inner .trans
		{
		text-align:center;
		font-size:13px;
		font-style:italic;
		margin-top:-5px;
		}

	.virtual-study-bible.tooltip .tooltip-inner .parse
		{
		text-align:center;
		font-size:11px;
		max-width:200px;
		margin-left:auto;
		margin-right:auto;
		}

	.virtual-study-bible.tooltip .tooltip-inner .english
		{
		text-align:center;
		white-space:nowrap;
		font-size:17px
		}

	h4 .virtual-study-bible.tooltip .tooltip-inner
		{
		background:#800;
		box-shadow:1px 1px 10px rgba(0,0,0,0.3);
		font-family: "Montserrat", sans-serif;
		color:#fff;
		line-height:1.3;
		border: none;
		border-radius:7%;
		max-width:1000px;
		transform: translateY(-10px);
		white-space:nowrap;
		}

	#study-bible .tools .greek
		{
		display:block;
		font-family:'Times New Roman',serif;
		font-size:19px;
		}

	#study-bible .tools .greek-verse 
		{
		line-height:1.3;
		direction:ltr;
		display:flex;
		flex-wrap:wrap;
		margin:5px;
		}

	#study-bible .tools .greek-verse-number 
		{
		font-size:12px;
		margin-top:4px;
		margin-right:-5px;
		}

	#study-bible .tools .greek h4 
		{
		text-align:center;
		color:#800;
		font-family: Poppins, san-serif;
		font-size:24px;
		margin-bottom:10px;
		}
	
	#study-bible .tools #filter-results 
		{
		font-family: "Montserrat", sans-serif;
		padding-left:15px;
		font-size:13px;
		line-height:1.5;
		}

	#study-bible .tools #filter-results a
		{
		font-weight:600;
		padding:5px 10px;
		}

	#study-bible .tools #filter-results a:hover
		{
		background-color:#eee;
		}

	#study-bible .tools #filter-results h4
		{
		font-family:Poppins,san-serif;
		font-weight:500;
		padding:5px 10px;
		margin:0;
		margin-top:-30px;
		color:#833;
		letter-spacing:.5px;
		}

	#study-bible .tools .filter-results-item span 
		{
		margin-left:-10px;
		}

	#study-bible .tools #eastons-results h4
		{
		font-family:Poppins,san-serif;
		color:#833;
		letter-spacing:.5px;
		font-weight:500;
		padding:5px 10px;
		margin:0;
		margin-top:-30px;
		}

	#study-bible .tools #eastons-results 
		{
		font-family: "Montserrat", sans-serif;
		padding-left:15px;
		font-size:13px;
		line-height:1.5;
		}

	#study-bible .tools .word-tools-eastons-def	
		{
		margin-bottom:20px;
		}

	#study-bible .tools #word-tools-eastons-content p	
		{
		text-align:justify;
		margin-right:10px;
		}

	#study-bible .tools #word-tools-eastons-content b 
		{
		margin-left:-20px;
		}

	#study-bible .tools #lexicon-results 
		{
		font-family: "Montserrat", sans-serif;
		padding-left:15px;
		font-size:13px;
		line-height:1.5;
		}

	#study-bible .tools #lexicon-results h4
		{
		font-family:Poppins,san-serif;
		color:#833;
		letter-spacing:.5px;
		font-weight:500;
		padding:5px 10px;
		margin:0;
		margin-top:-30px;
		margin-bottom:-10px;
		}

	#study-bible .tools .lexicon-results-count
		{
		font-size:16px;
		margin-bottom:20px;
		border-bottom:1px solid #ddd;
		font-weight:650;
		margin-left:15px;
		}

	#study-bible .tools .lexicon-results-item
		{
		display:block;
		margin-top:10px;
		font-size:14px;
		}

	#study-bible .tools .lexicon-results-item-header 
		{
		cursor:pointer;
		}

	#study-bible .tools .lexicon-results-item b
		{
		font-weight:550;
		color:#800;
		margin:0;
		margin-left:15px;
		font-size:15px;
		}

	#study-bible .tools .lexicon-results-item .orig-word
		{
		font-family:'Times New Roman', serif;
		font-size:21px;
		margin-left:5px;
		margin-right:5px;
		}

	#study-bible .tools .lexicon-results-item .translit
		{
		font-weight:600;
		margin-right:5px;
		}

	#study-bible .tools .lexicon-results-item .def
		{
		display:block;
		text-indent:15px;
		}

	#study-bible .tools .lexicon-results-item .pos ol 
		{
		margin:0;
		display:inline;
		padding:0;
		}

	#study-bible .tools .lexicon-results-item .pos li 
		{
		display:inline;
		margin-right:5px;
		}

	#study-bible .tools .lexicon-results-item .pos li:after
		{
		content:";";
		}
	
	#study-bible .tools #tools-overview .book-list 
		{
		padding:0 6px;
		font-size:18px;
		}

	#study-bible .start-help.tools #how-to-search p 
		{
		line-height:1.5;
		text-indent:0;
		}

	#study-bible .start-help.tools #tools p 
		{
		line-height:1.5;
		margin-top:20px;
		text-indent:0;
		margin-left:10px;
		margin-right:10px;
		}

	
	#study-bible .start-help.tools #tools .tools-p-header 
		{
		font-size:19px;
		}

/****************************************
     ____                                     
    |  _ \ ___  _ __   _____   _____ _ __ ___ 
    | |_) / _ \| '_ \ / _ \ \ / / _ \ '__/ __|
    |  __/ (_) | |_) | (_) \ V /  __/ |  \__ \
    |_|   \___/| .__/ \___/ \_/ \___|_|  |___/
               |_|                            

*****************************************/

	#study-bible .popover-content 
		{
		width:400px;
		line-height:1.3;
		}

	#study-bible .popover.fade 
		{
		width:400px;
		line-height:1.3;
		}

	#study-bible verse .popover 
		{
		max-width:400px;
		box-shadow:1px 1px 10px rgba(0,0,0,0.2);
		border-radius:10px;
		}

	#study-bible .def .popover 
		{
		border-radius:10px;
		}

	#study-bible .popover-title-strongs 
		{
		background-color:#800;
		color:#fff;
		font-size:16px;
		font-family: "Montserrat", sans-serif;
		padding-left:0;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		padding:0 15px;
		}

	#study-bible .popover-orig-word 
		{
		font-family:'Times New Roman',serif;
		color:#fff;
		}

	#study-bible .popover-title-strongs b.popover-orig-word 
		{
		color:#fff;
		margin:0;
		font-size:22px;
		}

	#study-bible .popover-title-strongs b 
		{
		display:inline;
		font-size:22px
		}

	#study-bible .popover-strongs-close 
		{
		float:right;
		margin-right:-5px;
		font-size:12px;
		margin-top:2px;
		cursor:pointer;
		color:#fff;
		font-family: "Montserrat", sans-serif;
		padding-left:10px;
		}

	#study-bible .popover-content-strongs 
		{
		padding:5px 15px 10px;
		font-family: "Montserrat", sans-serif;
		font-size:15px;
		text-indent:0;
		widthx:400px;
		}

	#study-bible .lex-translit 
		{
		font-style:italic;
		widthx:400px;
		}

	#study-bible .lex-definition 
		{
		widthx:400px;
		}

	#study-bible xref .popover.fade
		{
		max-width:300px;
		box-shadow:1px 1px 10px rgba(0,0,0,0.2);
		border-radius:10px;
		border:none;
		margin-top:-10px;
		}

	#study-bible xref .popover-content 
		{
		width:300px;
		line-height:1.3;
		border-radius:10px;
		}

	#study-bible .popover-xref-close 
		{
		float:right;
		margin-right:-12px;
		font-size:12px;
		margin-top:-15px;
		cursor:pointer;
		color:#000;
		font-family: "Montserrat", sans-serif;
		padding-left:10px;
		}

	#study-bible .popover-content-xref 
		{
		padding:15px 20px;
		font-family: 'Ovo',serif;
		font-size:15px;
		text-indent:0;
		text-align:justify;
		background-color:#ffffee;
		border-radius:10px;
		border:1px solid #ccc;
		}

	#study-bible .popover-content-xref verse
		{
		display:inline;
		text-indent:0;
		}

	#study-bible .popover-content-xref sup
		{
		font-size:9px;
		}

/*****************************************
     _____ _            ____                      _       _____                    
    |_   _| |__   ___  / ___|  ___  __ _ _ __ ___| |__   |  ___|__  _ __ _ __ ___  
      | | | '_ \ / _ \ \___ \ / _ \/ _` | '__/ __| '_ \  | |_ / _ \| '__| '_ ` _ \ 
      | | | | | |  __/  ___) |  __/ (_| | | | (__| | | | |  _| (_) | |  | | | | | |
      |_| |_| |_|\___| |____/ \___|\__,_|_|  \___|_| |_| |_|  \___/|_|  |_| |_| |_|

****************************************/



	.study-bible-form .bible-search-form {
		text-align:left!important;
		position:relative;
		padding-right:15px;
		padding-left:0px;
		margin-left:auto;
		margin-right:auto;
		max-width:56.5%;
		}

	.study-bible-form .study-bible-form-row 
		{
		width:100%;
		}

	.study-bible-form 
		{
		width:100%;
		display:block;
		margin-bottom:10px;
		}

	.study-bible-form #form-fieldsets 
		{
		max-width:45%;
		padding-right:0;
		padding-left:30px;
		}
	
	.study-bible-form .btn-strongs 
		{
		color:#fff;
		background-color:#833;
		border-color:#833;
		}

	.study-bible-form .btn-none 
		{
		color:#000;
		background-color:#eee;
		border-color:#aaa;
		}


/****************************************
     __  __           _       _     
    |  \/  | ___   __| | __ _| |___ 
    | |\/| |/ _ \ / _` |/ _` | / __|
    | |  | | (_) | (_| | (_| | \__ \
    |_|  |_|\___/ \__,_|\__,_|_|___/
                                
****************************************/

	#vb-book-list-modal a 
		{
		color:#a10f2b;
		text-decoration:none;
		}

	#vb-book-list-modal a:hover 
		{
		text-decoration:underline;
		}




/***************************************
     ____             _             _   _             
    |  _ \ __ _  __ _(_)_ __   __ _| |_(_) ___  _ __  
    | |_) / _` |/ _` | | '_ \ / _` | __| |/ _ \| '_ \ 
    |  __/ (_| | (_| | | | | | (_| | |_| | (_) | | | |
    |_|   \__,_|\__, |_|_| |_|\__,_|\__|_|\___/|_| |_|
                |___/                                 

***************************************/


	#study-bible .pagination 
		{
		display:flex;
		padding-left:0;
		list-style:none;
		border-radius:0.25rem;
		}

	#study-bible .page-item.active .page-link 
		{
		background:#fff;
		border-color:#fff;
		color:#ae3535;
		border-radius:3px;
		}

	#study-bible .page-item .page-link:hover 
		{
		background:#cc1133;
		color:#fff;
		}

	#study-bible .page-link 
		{
		background:#ae3535;
		color:#fff;
		border-color:#ae3535;
		position:relative;
		display:block;
		margin-left:-1px;
		padding:0.25rem 0.5rem;
		font-size:.875rem;
		line-height:1.5;
		}

	#study-bible a.page-link 
		{
		text-decoration: none;
		}
	
	#study-bible .words .pagination 
		{
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
		margin-bottom:10px;
		justify-content:center;
		}

	#study-bible .words .pagination .page-item .page-link
		{
		background-color:#fff;
		color:#800;
		border-color:#ddd;
		font-family: "Montserrat", sans-serif;
		font-weight:450;
		width:40px;
		text-align:center;
		white-space:nowrap;
		}

	#study-bible .words .pagination .page-item.active .page-link
		{
		background-color:#800;
		color:#fff;
		}

	#study-bible .words .pagination .page-item.first .page-link
		{
		border-top-left-radius:15px;
		border-bottom-left-radius:15px;
		padding-left:15px;
		}

	#study-bible .words .pagination .page-item.last .page-link
		{
		border-top-right-radius:15px;
		border-bottom-right-radius:15px;
		padding-right:28px;
		}


/******************************************
   _____              _ _ _   _                   _ 
  |_   _| __ __ _  __| (_) |_(_) ___  _ __   __ _| |
    | || '__/ _` |/ _` | | __| |/ _ \| '_ \ / _` | |
    | || | | (_| | (_| | | |_| | (_) | | | | (_| | |
    |_||_|  \__,_|\__,_|_|\__|_|\___/|_| |_|\__,_|_|

*******************************************/

	#study-bible #results-header 
		{
		padding:00;
		margin:0;
		border-bottom:1px solid #ddd;
		margin-bottom:20px;
		}



	.study-bible.traditional verses
		{
		display:block;
		font-family: 'Ovo',serif;
		font-size:18px;
		line-height:1.3;
		padding:0 20px;
		color:#000;
		max-width:100%;
		}

	

	.study-bible.traditional #verses h4
		{
		font-family: 'Ovo', serif;
		font-weight:bold;
		margin-bottom:0;
		margin-top:20px;
		}
	.study-bible.traditional #verses small 
		{
		float:right;
		font-weight:normal;
		}

	.study-bible.traditional 	.verse
		{
		display:block;
		}


	.study-bible.traditional .first-letter
		{
		font-size:92px;
		float:left;
		padding-right:0px;
		height:70px;
		margin-right:0px;
		line-height:75px;
		margin-left:-6px;
		}

	.study-bible.traditional .first-word .first-letter
		{
		display:none;
		}

	.study-bible.traditional .first-verse .first-word
		{
		text-transform:uppercase;
		margin-left:-6px;
		}

	.study-bible.traditional .first-verse .first-phrase
		{
		text-transform:uppercase;
		margin-left:-6px;
		}

	phrase.phrase 
		{
		display:inline;
		padding:0 5px;
		}

	.study-bible.traditional .para
		{
		font-weight:bold;
		}

	.study-bible.traditional .chapter-number
		{
		display:none;
		}

	.study-bible.traditional .verse-number
		{
		margin-right:7px;
		}

	.study-bible.traditional a.xref_verse 
		{
		color:#000;
		text-decoration:none;
		}

	.study-bible.traditional a.xref_verse:hover 
		{
		color:#000;
		text-decoration:underline;
		}

	.study-bible.traditional xr.xref_verse:hover 
		{
		color:#000;
		text-decoration:underline;
		}

	.study-bible.traditional .xref-inner 
		{
		position:absolute;
		right:0;
		background-color:#fff;
		}

	.study-bible.traditional .xref 
		{
		font-size:11px;
		line-height:1.1;
		text-align:right;
		font-family:'Lora', serif;
		margin-right:0px;
		padding:0;
		float: right;
		}

	.study-bible.traditional verse 
		{
		display:block;
		text-align:justify;
		text-indent:5px;
		}

	.study-bible.traditional .first-verse b 
		{
		display:none;
		}
		
	.study-bible.traditional .first-verse b.popover-orig-word
		{
		display:inline;
		}

	.study-bible.traditional b.paragraph 
		{
		margin-right:0px;
		}

	.study-bible.traditional verse.first-verse 
		{
		margin-left:0;
		}

		

	.study-bible.traditional verses outline 
		{
		display:block;
		width:100%;
		font-size:15px;
		font-family: "Montserrat", sans-serif;
		background:#fff;
		padding:5px 0 0 0;
		line-height:1.3;
		color:#008;
		font-weight:550;
		}

	.study-bible.traditional outline.pos-0
		{
		display:none;
		}


/*******************************************************
    ____                                       _     
    |  _ \ __ _ _ __ __ _  __ _ _ __ __ _ _ __ | |__  
    | |_) / _` | '__/ _` |/ _` | '__/ _` | '_ \| '_ \ 
    |  __/ (_| | | | (_| | (_| | | | (_| | |_) | | | |
    |_|   \__,_|_|  \__,_|\__, |_|  \__,_| .__/|_| |_|
                          |___/          |_|          
						
********************************************************/

	.study-bible.paragraph verses
		{
		display:block;
		font-family: 'Ovo',serif;
		font-size:18px;
		line-height:1.3;
		padding:0 20px;
		color:#000;
		max-width:100%;
		text-align:justify;
		}

	.study-bible.paragraph .verse
		{
		display:inline;
		}

	.study-bible.paragraph verse.paragraph
		{
		margin-left:20px;
		}

	.study-bible.paragraph verse.paragraph.first-verse
		{
		margin-left:-5px;
		}

	.study-bible.paragraph .context 
		{
		display:none;
		width:1px;
		}

	.study-bible.paragraph b.verse-number 
		{
		font-weight:normal;
		vertical-align:super;
		font-size:10px;
		}

	.study-bible.paragraph b.paragraph 
		{
		display:none
		}

	.study-bible.paragraph .chapter-number
		{
		font-size:92px;
		float:left;
		padding-right:0px;
		height:70px;
		margin-right:0px;
		line-height:75px;
		margin-left:-6px;
		font-weight:normal;
		color:#800;
		}

	.study-bible.paragraph .first-verse  b.verse-number 
		{
		display:none;
		}

	.study-bible.paragraph .first-letter
		{
		display:none;
		}

	.study-bible.paragraph .first-word .first-letter
		{
		display:inline;
		margin:0!important;
		}


	.study-bible.paragraph verses outline 
		{
		display:block;
		width:100%;
		font-size:15px;
		font-family: "Montserrat", sans-serif;
		background:#fff;
		padding:5px 0 0 0;
		line-height:1.3;
		color:#800;
		font-weight:400;
		font-style:italic;
		text-align:center;
		}

	.study-bible.paragraph outline.pos-0
		{
		display:none;
		}

	xref 
		{
		display:block;
		font-size:13px;
		width:13%;
		text-align:left;
		line-height:1;
		text-indent:0;
		margin-top:6px;
		position:absolute;
		left:7px;
		font-family: 'Ovo',serif;
		background-color:#fff;
		}

	.verse xref b 
		{
		margin-right:0px;
		display:inline!important;
		font-size:12px;
		}
	
	xref a 
		{
		color:#555;
		}
	


	xr.xref_verse 
		{
		color:#000;
		text-decoration:none;
		cursor:pointer;
		}




/*******************************************************
   _____ _            ____                _           _       ____  _ _     _      
  |_   _| |__   ___  |  _ \ ___  __ _  __| | ___ _ __( )___  | __ )(_) |__ | | ___ 
    | | | '_ \ / _ \ | |_) / _ \/ _` |/ _` |/ _ \ '__|// __| |  _ \| | '_ \| |/ _ \
    | | | | | |  __/ |  _ <  __/ (_| | (_| |  __/ |    \__ \ | |_) | | |_) | |  __/
    |_| |_| |_|\___| |_| \_\___|\__,_|\__,_|\___|_|    |___/ |____/|_|_.__/|_|\___|
	
********************************************************/



	.study-bible.reading .bible 
		{
		box-shadow:0 0 7px rgba(0,0,0,0.15);
		border-radius:10px
		}

	#study-bible .study-bible.reading .tools 
		{
		display:none;
		}

	.study-bible.reading xref 
		{
		display:none;
		}

	.study-bible.reading outline 
		{
		display:none;
		}

	.study-bible.reading outline .avoid-break
		{
		display:inline-block;
		}

	.study-bible.reading outline.pos-0 
		{
		display:block;
		width:100%;
		text-align:center;
		font-family: "Montserrat", sans-serif;
		color:#800;
		font-size:21px;
		letter-spacing:-.5px;
		font-weight:200;
		margin-bottom:10px;
		max-width:80%;
		margin-left:auto;
		margin-right:auto;
		line-height:1.3;
		}

	.study-bible.reading b.verse-number 
		{
		display:none;
		}

	.study-bible.reading b.paragraph 
		{
		display:none
		}

	.study-bible.reading .chapter-number
		{
		display:none;
		}

	.study-bible.reading .first-letter
		{
		font-size:92px;
		float:left;
		padding-right:0px;
		height:70px;
		margin-right:3px;
		line-height:75px;
		margin-left:0px;
		color:#800;
		}

	.study-bible.reading .first-word .first-letter
		{
		display:none;
		}

	.study-bible.reading .verse:has(.A)
		{
		margin-left:45px!important;
		}

	.study-bible.reading .first-verse .first-word
		{
		text-transform:uppercase;
		}

	.study-bible.reading .bible 
		{
		max-width:95%;
		}		

	.study-bible.reading div#bible.bible verses 
		{
		display:block;
		font-family: 'Ovo',serif;
		font-size:23px;
		line-height:1.5;
		padding:0 20px;
		color:#000;
		max-width:100%;
		text-align:justify;
		border:none;
		margin:0;
		margin-left:20px;
		padding:0 30px;
		}

	.study-bible.reading .verse
		{
		display:inline;
		}

	.study-bible.reading verse.paragraph
		{
		margin-left:35px;
		}

	.study-bible.reading verse.paragraph.first-verse
		{
		margin-left:-5px;
		}

	.study-bible.reading .context 
		{
		display:none;
		width:1px;
		}

	.study-bible.reading #book-name 
		{
		margin-left:-30px;
		}

	.study-bible.reading #chapter-number 
		{
		margin-right:-30px;
		}
	


/*******************************************************
      ____                           _   ____  _ _     _        ____  _         _           
     / ___| ___ _ __   ___ _ __ __ _| | | __ )(_) |__ | | ___  / ___|| |_ _   _| | ___  ___ 
    | |  _ / _ \ '_ \ / _ \ '__/ _` | | |  _ \| | '_ \| |/ _ \ \___ \| __| | | | |/ _ \/ __|
    | |_| |  __/ | | |  __/ | | (_| | | | |_) | | |_) | |  __/  ___) | |_| |_| | |  __/\__ \
     \____|\___|_| |_|\___|_|  \__,_|_| |____/|_|_.__/|_|\___| |____/ \__|\__, |_|\___||___/
                                                                      |___/             
	
********************************************************/




	.bible 
		{		
		position:relative;
		z-index:1;
		background-color:#fff;
		box-shadow:0px 0px 7px rgba(0,0,0,0.1),inset -15px 0 15px -15px rgba(0,0,0,0.2);
		border:1px solid #ddd;
		border-radius:10px 0 0 10px;
		padding:10px 25px 25px 25px;
		max-width:50%;
		}

	.holman-xref .bible 
		{
		position:relative;
		z-index:1;
		background-color:#fff;
		box-shadow:0px 0px 7px rgba(0,0,0,0.1),inset -15px 0 15px -15px rgba(0,0,0,0.2);
		border:1px solid #ddd;
		border-radius:10px 0 0 10px;
		padding:10px 25px 25px 25px;
		max-width:53%;		
		}

	#study-bible div.study-bible
		{
		margin:0;
		}

	#study-bible div.bible.row
		{
		margin:0;
		display:block;
		}

	#study-bible .smallcaps 
		{
		font-variant:small-caps;
		}		

	#study-bible intro.intro
		{
		display:block;
		width:90%;
		text-align:center;
		font-style:italic;
		margin-bottom:15px;
		font-size:16px;
		margin-left:auto;
		margin-right:auto;
		}	
	
	#study-bible .holman-xref verses
		{
		border-left:1px solid #eee;
		margin-left:14%;
		padding-left:10px !important;
		color:#000;
		}
	


/*******************************************************
     _  __                                _   ____                 _ _       
    | |/ /___ _   ___      _____  _ __ __| | |  _ \ ___  ___ _   _| | |_ ___ 
    | ' // _ \ | | \ \ /\ / / _ \| '__/ _` | | |_) / _ \/ __| | | | | __/ __|
    | . \  __/ |_| |\ V  V / (_) | | | (_| | |  _ <  __/\__ \ |_| | | |_\__ \
    |_|\_\___|\__, | \_/\_/ \___/|_|  \__,_| |_| \_\___||___/\__,_|_|\__|___/
              |___/                                                   

********************************************************/

		
	.words 
		{		
		position:relative;
		display:block;
		z-index:1;
		background-color:#fff;
		box-shadow:0px 0px 7px rgba(0,0,0,0.1);
		border:1px solid #ddd;
		border-radius:10px;
		padding:10px 25px 25px 25px;
		margin:0;
		}

	.word-results
		{
		display:block;
		font-family: 'Ovo',serif;
		font-size:18px;
		line-height:1.3;
		padding-right:0 !important;
		color:#000;	
		margin-bottom:10px;	
		border-bottom:1px solid #ddd;
		padding-bottom:10px;
		}

	.word-results-reference 
		{
		font-weight:bold;
		font-family: "Montserrat", sans-serif;
		font-weight:600;
		font-size:15px;
		color:#800;
		}

	.word-results-reference .in-context 
		{
		float:right;
		font-weight:normal;
		font-size:12px;
		}

	.word-results-reference .in-context a
		{
		color:#800;
		}

	.word-results-text 
		{
		text-align:justify;
		}

	.word-results-title 
		{
		display:block;
		width:100%;	
		font-family: "Montserrat", sans-serif;
		text-align:center;
		border-bottom:solid 1px #ddd;
		margin-bottom:10px;
		}
		



/*******************************************************
     _____     _     _      _   
    |_   _|_ _| |__ | | ___| |_ 
      | |/ _` | '_ \| |/ _ \ __|
      | | (_| | |_) | |  __/ |_ 
      |_|\__,_|_.__/|_|\___|\__|

********************************************************/
	


	@media (max-width: 768px) and (min-width:600px)
		{

		#study-bible.row 
			{
			margin-left:0;
			margin-right:0;
			}


/*****************************************
     _____ _            ____                      _       _____                    
    |_   _| |__   ___  / ___|  ___  __ _ _ __ ___| |__   |  ___|__  _ __ _ __ ___  
      | | | '_ \ / _ \ \___ \ / _ \/ _` | '__/ __| '_ \  | |_ / _ \| '__| '_ ` _ \ 
      | | | | | |  __/  ___) |  __/ (_| | | | (__| | | | |  _| (_) | |  | | | | | |
      |_| |_| |_|\___| |____/ \___|\__,_|_|  \___|_| |_| |_|  \___/|_|  |_| |_| |_|

****************************************/


		.bible-search-form {
			flex:0 0 75%;
			max-width: 75%;
			}			

		.study-bible-form #form-fieldsets 
			{
			max-width:45%;
			padding-right:0;
			padding-left:0px;
			}

/****************************************
     ____                                     
    |  _ \ ___  _ __   _____   _____ _ __ ___ 
    | |_) / _ \| '_ \ / _ \ \ / / _ \ '__/ __|
    |  __/ (_) | |_) | (_) \ V /  __/ |  \__ \
    |_|   \___/| .__/ \___/ \_/ \___|_|  |___/
               |_|                            

*****************************************/

		#study-bible .popover-content 
			{
			width:350px; 
			}

		#study-bible .popover.fade 
			{
			width:350px; 
			}

		#study-bible .popover-content-strongs 
			{
			font-size:13px; 
			}

			

		xref 
			{
			display:block;
			font-size:10px;
			width:12%;
			text-align:left;
			line-height:.9;
			text-indent:0;
			margin-top:6px;
			position:absolute;
			left:7px;
			font-family: 'Ovo',serif;
			background-color:#fff;
			}

		.verse xref b 
			{
			font-size:10px;
			}

		#study-bible .holman-xref verses 
			{
			margin-left:12%;
			padding-left:9px !important;
			}



		.study-bible.traditional verses 
			{
			font-size:16px;
			}


		.study-bible.paragraph verses 
			{
			font-size:16px;
			}

		.study-bible.paragraph b.verse-number 
			{
			font-size:8.5px;
			}

		.study-bible.reading .bible 
			{
			max-width:100%;
			}

		.study-bible.reading div#bible.bible verses 
			{
			font-size:21px;
			}





		}


/*******************************************************
     __  __       _     _ _      
    |  \/  | ___ | |__ (_) | ___ 
    | |\/| |/ _ \| '_ \| | |/ _ \
    | |  | | (_) | |_) | | |  __/
    |_|  |_|\___/|_.__/|_|_|\___|                                 

********************************************************/

	@media (max-width: 599px)
		{

		#study-bible .tools .help-title
			{
			display:block;
			font-family: "Montserrat", sans-serif;
			font-size:13px;
			}

		#study-bible .tools .nav-tabs>li>a>h4 
			{
			text-align:center;
			}

		#study-bible .tools ul.nav.nav-tabs li 
			{
			max-width:25%;
			width:35%;
			}

		.col-xs-1 
			{
			flex:0 0 8.3333%;
			max-width:8.3333%;
			}

		.col-xs
			{
			flex:0 0 50%;
			max-width:50%;
			}

		.col-xs-10 
			{
			flex:0 0 83.3333%;
			max-width:83.3333%;
			}

		#study-bible #results-header 
			{
			margin-bottom:0;
			padding:0 5px;
			}

		.study-bible-form .bible-search-form 
			{
			max-width:100%;
			padding:0;
			margin-bottom:10px;
			}

		.study-bible-form .vb-form-container
			{
			max-width:100%;
			padding:0;
			}

		.study-bible-form .study-bible-form-row 
			{
			display:flex;
			margin:0;
			}

		.study-bible-form .bible-search-form .drop-down select#version
			{
			font-size:12px;
			}

		.study-bible-form .bible-search-form .drop-down select#version optgroup
			{
			font-size:12px;
			}

		.study-bible-form #form-fieldsets 
			{
			max-width:100%;
			padding-right:0;
			padding-left:0;
			}

		#study-bible .holman-xref .tools
			{
			display:none;
			}

		.holman-xref .bible 
			{
			position:relative;
			z-index:1;
			background-color:#fff;
			box-shadow:none;
			border:none;
			border-radius:0;
			padding:0;
			max-width:100%;		
			}

			

		xref 
			{
			display:block;
			font-size:10px;
			width:12%;
			text-align:left;
			line-height:.9;
			text-indent:0;
			margin-top:6px;
			position:absolute;
			left:7px;
			font-family: 'Ovo',serif;
			background-color:#fff;
			margin-left:-4.5%;
			}

		.verse xref b 
			{
			font-size:10px;
			}

		#study-bible .holman-xref verses 
			{
			margin-left:12%;
			padding-left:9px !important;
			}

		.study-bible.paragraph b.verse-number 
			{
			font-size:8.5px;
			}



		.study-bible.traditional verses 
			{
			font-size:16px;
			}


		.study-bible.paragraph verses 
			{
			font-size:16px;
			}

		.study-bible.reading .bible 
			{
			max-width:100%;
			}

		.study-bible.reading div#bible.bible verses 
			{
			font-size:21px;
			}

		.study-bible.reading #book-name 
			{
			margin-left:0;
			}

		.study-bible.reading #chapter-number 
			{
			margin-right:0;
			}

		#study-bible .tools 
			{
			display:none;
			}

		#study-bible.word-search-results #passage-style 
			{
			display:none;
			}

		#study-bible #form-fieldsets 
			{
			display:block;
			}

		#study-bible #toggle-strongs-fieldset 
			{
			float:right;
			display:block;
			width:auto;
			}

		#study-bible .words 
			{
			box-shadow:none;
			border:none;
			border-radius:0;
			padding:0;

			}

		}

		