
	div.study-bible-results 
		{
		display:none;
		}
	div.study-bible-cover 
		{
		background-color:#fff;
		height:100vh;
		font-family: "Montserrat", sans-serif;
		color:#fafafa;
		font-size:70px;
		text-align:center;
		font-weight:700;
		display:block;
		width:100%;
		padding-top:100px;
		}


/***************************************
		TOOLS

****************************************/

	ul.nav.nav-tabs {
		clear: both;
		}

	ul.nav.nav-tabs li {
		list-style: none;
		float: left;
		}   

	.nav>li>a {
		position: relative;
		display: block;
		padding: 10px 15px;
		}

	.nav {
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		}  

	.nav-tabs>li>a {
		margin-right: 2px;
		line-height: 1.42857143;
		border: 1px solid transparent;
		border-radius: 4px 4px 0 0;
		background-color: #eee;
		height:100%;
		}

	.nav-tabs>li>a>h4 {
		color:#777;
		}

	.nav-tabs>li.active>a>h4 {
		color:#833;
		}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
		color: #000;
		cursor: default;
		background-color: #fff;
		border: 1px solid #ddd;
		border-bottom-color: transparent;
		position:relative;
		z-index:101;
		margin-top:2px;
		}

	.nav>li {
		position: relative;
		display: block;
		}
	.nav-tabs>li {
		float: left;
		margin-bottom: -1px;
		}

	.nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
		display: table;
		content: " ";
		}

	.nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
		clear: both;
		} 

	.nav-tabs {
		border-bottom: 1px solid #ddd;
		} 

	.nav-item.tools {
		font-size: 12px;
		width:50px;
		text-align:center;
		}
	
	.nav-item.tools a.nav-link {
		padding: 7px 9px 7px 9px;
		border-top-left-radius: 5px!important;
		border-top-right-radius: 5px!important;
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
		height:45px;
		}
	
	.nav-item.tools a:hover.nav-link {
		background-color: #666666;
		color: #fff;
		}
	
	.nav-item.tools a.nav-link.active {
		border-top-left-radius: 5px!important;
		border-top-right-radius: 5px!important;
		background-color: #a10f2b!important;
		color: #fff;
		}
	
	.nav-item.tools.active a.nav-link {
		border-top-left-radius: 5px!important;
		border-top-right-radius: 5px!important;
		background-color: #a10f2b!important;
		color: #fff;
		}
	
	.nav-item.tools a.nav-link.active::before {
		display: none;
		}
	
	.nav-item.tools a:hover.nav-link.active {
		color: #fff;
		}	

	.tools a.nav-link i {
		font-size: 25px;
		}


	blockquote {
		border-color:transparent!important;
		color:#000!important;
		}

	#outline-data .title {
		margin-bottom:7px;
		font-weight:bold;
		font-size:15px;
		}



	.tab-pane:not(.active) {
		display: none;
		}  

	.tools p 
		{
		line-height:1.4;
		text-indent:20px;
		margin:0;
		font-family: "Montserrat", sans-serif;
		}
	.tools blockquote 
		{
		line-height:1.4;
		margin-left:10px;
		padding:0;
		}
	.tools blockquote:before 
		{
		content: "";
		}
	.tools blockquote p 
		{
		margin:0;
		}
	.tools small 
		{
		font-family: "Montserrat", sans-serif;
		}
	.tool-title 
		{
		color:#833;
		}

		.tools
		{
		margin-left:-15px;
		padding-right:10px;
		position:relative;
		z-index:100;
		padding-left:30px;
		font-size:11.5px;
		background-color:#fafafa;
		margin-top:50px;
		border-radius:20px;
		margin-bottom: 10px;
		padding-top:20px;
		max-width:50%;
		display:block;
		}
	.holman-xref .tools
		{
		margin-left:-15px;
		padding-right:10px;
		position:relative;
		z-index:100;
		padding-left:30px;
		font-size:11.5px;
		background-color:#fafafa;
		margin-top:50px;
		border-radius:20px;
		margin-bottom: 10px;
		padding-top:20px;
		max-width:47%;
		display:block;
		}
	.tool-nav 
		{
		margin-top:-67px;
		margin-bottom:-10px;
		border-bottom:1px solid #fafafa;
		}
	.tool-nav>li>a 
		{
		padding:10px 15px;
		}
	.tool-nav>li.active>a, .tool-nav>li.active>a:focus, .tool-nav>li.active>a:hover
		{
		background-color:#fafafa;
		border:1px solid #fafafa;
		}
	.tool-content 
		{
		margin-top:45px;
		}


		#introduction-results strong 
		{
		display:block;
		text-indent:0;
		border-bottom:1px solid #ccc;
		font-family:Poppins,san-serif;
		font-size:15px;
		font-weight:900;
		letter-spacing:1px;
		margin-top:10px;
		}
	#introduction-results h4 
		{
		text-align:center;
		font-family:Poppins,san-serif;
		margin-bottom:0;
		line-height:1;
		color:#833;
		}
	#introduction-results h5
		{
		display:block;
		text-indent:0;
		border-bottom:1px solid #ccc;
		font-family: "Montserrat", sans-serif;
		font-size:12.5px;
		font-weight:700;
		letter-spacing:.5px;
		margin-top:10px;
		margin-bottom:2px;
		color:#833;
		background-color:#fafafa;
		position:relative;
		z-index:100;
		overflow:hidden;
		text-transform:uppercase;
		}
	#introduction-results p 
		{
		text-align:justify;
		font-family: "Montserrat", sans-serif;
		}
	#introduction-results hr 
		{
		border:none;
		height:1px;
		background-color:#ddd;
		}

	#outline-results strong 
		{
		display:block;
		text-indent:0;
		border-bottom:1px solid #ccc;
		font-family:Poppins,san-serif;
		font-size:15px;
		font-weight:900;
		letter-spacing:1px;
		margin-top:10px;
		}
	#outline-results h4 
		{
		text-align:center;
		font-family:Poppins,san-serif;
		margin-bottom:0;
		line-height:1;
		color:#833;
		}
	#outline-results h5
		{
		display:block;
		text-indent:0;
		font-family: "Montserrat", sans-serif;
		font-size:13px;
		font-weight:600;
		margin-top:10px;
		margin-bottom:2px;
		color:#833;
		font-style:italic;
		}
	#outline-results p 
		{
		text-align:justify;
		font-family: "Montserrat", sans-serif;
		}
	#outline-results hr 
		{
		border:none;
		height:1px;
		background-color:#ddd;
		}
	#outline-results blockquote 
		{
		line-height:1.4;
		margin-left:20px;
		padding:0;
		}
	#outline-results blockquote p
		{
		margin:5px 0;
		}
	.hebrew
		{
		display:block;
		font-family:'Times New Roman',serif;
		text-align:right !important;
		font-size:27px;
		}
	.interlinear
		{
		display:block;
		font-family:'Times New Roman',serif;
		}
	.interlinear h4 
		{
		text-align:center;
		color:#800;
		font-family: Poppins, san-serif;
		margin-bottom:0px;
		font-size:21px;
		margin-top:-5px;
		}
	.hebrew-verse 
		{
		margin-right:15px;
		line-height:.7;
		clear:both;
		direction:rtl;
		display:flex;
		flex-wrap:wrap;
		}
	.hebrew-verse-number 
		{
		float:right;
		font-size:12px;
		margin-top:10px;
		margin-right:-15px;
		font-family: 'Ovo',serif;
		}
	.hebrew h4 
		{
		text-align:center;
		color:#800;
		font-family: Poppins, san-serif;
		margin-bottom:0px;
		}
	.int-heb-word 
		{
		text-align:center;
		padding:1px 2px;
		flex:none;
		float:right;
		border:1px solid transparent;
		cursor:default;
		}
	.int-heb-word .heb
		{
		font-size:20px;
		font-weight:700;
		}
	.int-heb-word .eng
		{
		display:block;
		font-family: "Montserrat", sans-serif;
		font-size:10px;
		margin-top:4px;
		}
	#hebgreek-results 
		{
		margin-left:-10px;
		margin-right:-10px;
		}

	
	.int-gre-word 
		{
		text-align:center;
		padding:0 1px;
		flex:none;
		float:left;
		border:1px solid transparent;
		cursor:default;
		line-height:.8;
		}
	.int-gre-word .gre
		{
		font-size:14.5px;
		font-weight:700;
		}
	.int-gre-word .eng
		{
		display:block;
		font-family: "Montserrat", sans-serif;
		font-size:9px;
		margin-top:4px;
		}

	.tooltip .tooltip-inner
		{
		background:#fff;
		background: linear-gradient(180deg, #fff 0%,#ffe 100%);
		box-shadow:1px 1px 10px rgba(0,0,0,0.3);
		font-family: "Montserrat", sans-serif;
		color:#000;
		border-radius:7%;
		line-height:1.3;
		border: 5px ridge rgba(226, 154, 21, 0.5);
		}
	.tooltip .tooltip-inner .hebrew
		{
		font-family:'Times New Roman',serif;
		text-align:center !important;
		font-size:35px;
		margin-top:-8px;
		font-weight:600;
		white-space:nowrap;
		}
	.tooltip .tooltip-inner .greek
		{
		font-family:'Times New Roman',serif;
		text-align:center !important;
		font-size:35px;
		margin-top:-8px;
		font-weight:600;
		white-space:nowrap;
		}
	.tooltip .tooltip-inner .trans
		{
		text-align:center;
		font-size:13px;
		font-style:italic;
		margin-top:-5px;
		}
	.tooltip .tooltip-inner .parse
		{
		text-align:center;
		font-size:11px;
		}
	.tooltip .tooltip-inner .english
		{
		text-align:center;
		white-space:nowrap;
		font-size:17px
		}
	.greek
		{
		display:block;
		font-family:'Times New Roman',serif;
		font-size:19px;
		}
	.greek-verse 
		{
		line-height:1.3;
		direction:ltr;
		display:flex;
		flex-wrap:wrap;
		margin:5px;
		}
	.greek-verse-number 
		{
		font-size:12px;
		margin-top:4px;
		margin-right:-5px;
		}
	.greek h4 
		{
		text-align:center;
		color:#800;
		font-family: Poppins, san-serif;
		font-size:24px;
		margin-bottom:10px;
		}
	
		#filter-results 
		{
		font-family: "Montserrat", sans-serif;
		padding-left:15px;
		font-size:13px;
		line-height:1.5;
		}
	#filter-results a
		{
		font-weight:600;
		padding:5px 10px;
		}
	#filter-results a:hover
		{
		background-color:#eee;
		}
	#filter-results h4
		{
		font-weight:500;
		padding:5px 10px;
		margin:0;
		margin-top:-30px;
		}
	.filter-results-item span 
		{
		margin-left:-10px;
		}
	.filter-results-item
		{
		}
	#eastons-results h4
		{
		font-weight:500;
		padding:5px 10px;
		margin:0;
		margin-top:-30px;
		}
	#eastons-results 
		{
		font-family: "Montserrat", sans-serif;
		padding-left:15px;
		font-size:13px;
		line-height:1.5;
		}
	.word-tools-eastons-def	
		{
		margin-bottom:20px;
		}
	#word-tools-eastons-content p	
		{
		text-align:justify;
		margin-right:10px;
		}
	#word-tools-eastons-content b 
		{
		margin-left:-20px;
		}
	#lexicon-results 
		{
		font-family: "Montserrat", sans-serif;
		padding-left:15px;
		font-size:13px;
		line-height:1.5;
		}
	#lexicon-results h4
		{
		font-weight:500;
		padding:5px 10px;
		margin:0;
		margin-top:-30px;
		margin-bottom:-10px;
		}
	.lexicon-results-count
		{
		font-size:15px;
		margin-bottom:20px;
		border-bottom:1px solid #ddd;
		}
	.lexicon-results-item
		{
		display:block;
		margin-top:10px;
		font-size:14px;
		}
	.lexicon-results-item-header 
		{
		cursor:pointer;
		}
	.lexicon-results-item b
		{
		font-weight:550;
		color:#800;
		margin:0;
		margin-left:15px;
		font-size:15px;

		}
	.lexicon-results-item .orig-word
		{
		font-family:'Times New Roman', serif;
		font-size:21px;
		margin-left:5px;
		margin-right:5px;
		}
	.lexicon-results-item .translit
		{
		font-weight:600;
		margin-right:5px;
		}
	.lexicon-results-item .phonetic
		{
		}
	.lexicon-results-item .pos
		{
		}
	.lexicon-results-item .def
		{
		display:block;
		text-indent:15px;
		}
	.lexicon-results-item .pos ol 
		{
		margin:0;
		display:inline;
		padding:0;
		}
	.lexicon-results-item .pos li 
		{
		display:inline;
		margin-right:5px;
		}
	.lexicon-results-item .pos li:after
		{
		content:";";
		}

	
	#tools-overview .book-list 
		{
		padding:0 6px;
		font-size:18px;
		}

/****************************************
		POPOVER

*****************************************/

	.popover-content 
		{
		width:400px;
		line-height:1.3;
		}
	verse .popover 
		{
		max-width:400px;
		box-shadow:1px 1px 10px rgba(0,0,0,0.2);
		border-radius:10px;
		}
	.def .popover 
		{
		border-radius:10px;
		}
	.popover-title-strongs 
		{
		background-color:#800;
		color:#fff;
		font-size:16px;
		font-family: "Montserrat", sans-serif;
		padding-left:10px;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		}
	.popover-orig-word 
		{
		font-family:'Times New Roman',serif;
		color:#fff;
		}
	.popover-title-strongs b.popover-orig-word 
		{
		color:#fff;
		margin:0;
		font-size:22px;
		}
	.popover-title-strongs b 
		{
		display:inline;
		font-size:22px
		}
	.popover-strongs-close 
		{
		float:right;
		margin-right:8px;
		font-size:12px;
		margin-top:2px;
		cursor:pointer;
		color:#fff;
		font-family: "Montserrat", sans-serif;
		padding-left:10px;
	}
	.popover-content-strongs 
		{
		padding:5px 15px 10px;
		font-family: "Montserrat", sans-serif;
		font-size:15px;
		text-indent:0;
		}
	xref .popover.fade
		{
		max-width:300px;
		box-shadow:1px 1px 10px rgba(0,0,0,0.2);
		border-radius:10px;
		border:none;
		margin-top:-10px;
		}

	xref .popover-content 
		{
		width:300px;
		line-height:1.3;
		border-radius:10px;
		}
	.popover-xref-close 
		{
		float:right;
		margin-right:-12px;
		font-size:12px;
		margin-top:-15px;
		cursor:pointer;
		color:#000;
		font-family: "Montserrat", sans-serif;
		padding-left:10px;
		}
	.popover-content-xref 
		{
		padding:15px 20px;
		font-family: 'Ovo',serif;
		font-size:15px;
		text-indent:0;
		text-align:justify;
		background-color:#ffffee;
		border-radius:10px;
		border:1px solid #ccc;
		}
	.popover-content-xref verse
		{
		display:inline;
		text-align:none;
		text-indent:none;
		}
	.popover-content-xref sup
		{
		font-size:9px;
		}

/*****************************************
		FORM

****************************************/



	.bible-search-form {
		text-align:left!important;
		position:relative;
		padding-right:15px;
		padding-left:0px;
		margin-left:auto;
		margin-right:auto;
		max-width:56.5%;
		}

	.study-bible-form-row 
		{
		width:100%;
		}
	.study-bible-form 
		{
		width:100%;
		display:block;
		margin-bottom:10px;
		}

	#form-fieldsets 
		{
		max-width:45%;
		padding-right:0;
		padding-left:30px;
		}

	
	.btn-strongs 
		{
		color:#fff;
		background-color:#833;
		border-color:#833;
		}
	.btn-none 
		{
		color:#000;
		background-color:#eee;
		border-color:#aaa;
		}


/****************************************
		MODALS

****************************************/

	#modal a {
		color:#a10f2b;
		text-decoration:none;
		}

	#modal a:hover {
		text-decoration:underline;
		}


/***************************************
		PAGINATION

***************************************/


.pagination {
	display:flex;
	padding-left:0;
	list-style:none;
	border-radius:0.25rem;
	}
.page-item.active .page-link {
	background:#fff;
	border-color:#fff;
	color:#ae3535;
	border-radius:3px;
	}
.page-item .page-link:hover {
	background:#cc1133;
	color:#fff;
}
.page-link {
	background:#ae3535;
	color:#fff;
	border-color:#ae3535;
	position:relative;
	display:block;
	margin-left:-1px;
	padding:0.25rem 0.5rem;
	font-size:.875rem;
	line-height:1.5;
	}
a.page-link {
	text-decoration: none;
	}

/*****************************************
	KEYWORD RESULTS

****************************************/


	.keyword-result {
		border-bottom:1px solid #ddd;
		margin-bottom:0;
		padding-bottom:20px;
		padding-top:0;
		margin-top:0;
		font-family: 'Ovo', serif;
		}	

	.context {
		margin-top:-100px;
		margin-bottom:100px;
		}


/******************************************
			TRADITIONAL

*******************************************/

	.study-bible.traditional verses
		{
		display:block;
		font-family: 'Ovo',serif;
		font-size:18px;
		line-height:1.3;
		padding:0 20px;
		color:#000;
		max-width:100%;
		}

	

	.study-bible.traditional #verses h4
		{
		font-family: 'Ovo', serif;
		font-weight:bold;
		margin-bottom:0;
		margin-top:20px;
		}
	.study-bible.traditional #verses small 
		{
		float:right;
		font-weight:normal;
		}

	.study-bible.traditional 	.verse
		{
		display:block;
		}


	.study-bible.traditional .first-letter
		{
		font-size:92px;
		float:left;
		padding-right:0px;
		height:70px;
		margin-right:0px;
		line-height:75px;
		margin-left:-6px;
		}

	.study-bible.traditional .first-verse .first-word
		{
		text-transform:uppercase;
		margin-left:-6px;
		}

	.study-bible.traditional .para
		{
		font-weight:bold;
		}

	.study-bible.traditional .chapter-number
		{
		display:none;
		}

	.study-bible.traditional .verse-number
		{
		margin-right:7px;
		}

	.study-bible.traditional a.xref_verse 
		{
		color:#000;
		text-decoration:none;
		}

	.study-bible.traditional a.xref_verse:hover 
		{
		color:#000;
		text-decoration:underline;
		}

	.study-bible.traditional xr.xref_verse:hover 
		{
		color:#000;
		text-decoration:underline;
		}

	.study-bible.traditional .xref-inner 
		{
		position:absolute;
		right:0;
		background-color:#fff;
		}

	.study-bible.traditional .xref 
		{
		font-size:11px;
		line-height:1.1;
		text-align:right;
		font-family:'Lora', serif;
		margin-right:0px;
		padding:0;
		float: right;
		}

	.study-bible.traditional verse 
		{
		display:block;
		text-align:justify;
		text-indent:5px;
		}

	.study-bible.traditional .first-verse b 
		{
		display:none;
		}
		
	.study-bible.traditional .first-verse b.popover-orig-word
		{
		display:inline;
		}

	.study-bible.traditional b.paragraph 
		{
		margin-right:0px;
		}

	.study-bible.traditional verse.first-verse 
		{
		margin-left:0;
		}

		

	.study-bible.traditional verses outline 
		{
		display:block;
		width:100%;
		font-size:15px;
		font-family: "Montserrat", sans-serif;
		background:#fff;
		padding:5px 0 0 0;
		line-height:1.3;
		color:#008;
		font-weight:550;
		}

	.study-bible.traditional outline.pos-0
		{
		display:none;
		}


/*******************************************************
		PARAGRAPH
	
********************************************************/

	.study-bible.paragraph verses
		{
		display:block;
		font-family: 'Ovo',serif;
		font-size:18px;
		line-height:1.3;
		padding:0 20px;
		color:#000;
		max-width:100%;
		text-align:justify;
		}

	.study-bible.paragraph .verse
		{
		display:inline;
		}

	.study-bible.paragraph verse.paragraph
		{
		margin-left:20px;
		}

	.study-bible.paragraph verse.paragraph.first-verse
		{
		margin-left:-5px;
		}

	.study-bible.paragraph .context 
		{
		display:none;
		width:1px;
		}

	.study-bible.paragraph b.verse-number 
		{
		font-weight:normal;
		vertical-align:super;
		font-size:10px;
		}

	.study-bible.paragraph b.paragraph 
		{
		display:none
		}

	.study-bible.paragraph .chapter-number
		{
		font-size:92px;
		float:left;
		padding-right:0px;
		height:70px;
		margin-right:0px;
		line-height:75px;
		margin-left:-6px;
		font-weight:normal;
		color:#800;
		}

	.study-bible.paragraph .first-verse  b.verse-number 
		{
		display:none;
		}

	.study-bible.paragraph .first-letter
		{
		display:inline;
		}

	.study-bible.paragraph .first-letter
		{
		display:inline;
		margin:0!important;
		}


	.study-bible.paragraph verses outline 
		{
		display:block;
		width:100%;
		font-size:15px;
		font-family: "Montserrat", sans-serif;
		background:#fff;
		padding:5px 0 0 0;
		line-height:1.3;
		color:#800;
		font-weight:400;
		font-style:italic;
		text-align:center;
		}

	.study-bible.paragraph outline.pos-0
		{
		display:none;
		}



	xref 
		{
		display:block;
		font-size:13px;
		width:13%;
		text-align:left;
		line-height:1;
		text-indent:0;
		margin-top:6px;
		position:absolute;
		left:7px;
		font-family: 'Ovo',serif;
		background-color:#fff;
		}

	.verse xref b 
			{
			margin-right:0px;
			display:inline!important;
			font-size:12px;
			}
	
	xref a 
			{
			color:#555;
			}
	


	xr.xref_verse 
		{
		color:#000;
		text-decoration:none;
		cursor:pointer;
		}




/*******************************************************
		READER
	
********************************************************/



	.study-bible.reading .bible 
		{
		box-shadow:0 0 7px rgba(0,0,0,0.15);
		border-radius:10px
		}

	.study-bible.reading .tools 
		{
		display:none;
		}

	.study-bible.reading xref 
		{
		display:none;
		}

	.study-bible.reading outline 
		{
		display:none;
		}

	.study-bible.reading outline.pos-0 
		{
		display:block;
		width:100%;
		text-align:center;
		margin-top:-65px;
		font-family: "Montserrat", sans-serif;
		color:#800;
		font-size:21px;
		letter-spacing:-.5px;
		}

	.study-bible.reading b.verse-number 
		{
		display:none;
		}

	.study-bible.reading b.paragraph 
		{
		display:none
		}

	.study-bible.reading .chapter-number
		{
		display:none;
		}

	.study-bible.reading .first-letter
		{
		font-size:92px;
		float:left;
		padding-right:0px;
		height:70px;
		margin-right:3px;
		line-height:75px;
		margin-left:0px;
		color:#800;
		}

	.study-bible.reading .verse:has(.A)
		{
		margin-left:45px!important;
		}

	.study-bible.reading .first-verse .first-word
		{
		text-transform:uppercase;
		}

	.study-bible.reading .bible 
		{
		max-width:95%;
		}
		

	.study-bible.reading verses 
		{
		display:block;
		font-family: 'Ovo',serif;
		font-size:23px;
		line-height:1.5;
		padding:0 20px;
		color:#000;
		max-width:100%;
		text-align:justify;
		border:none;
		margin:0;
		margin-left:20px;
		padding:0 30px;
		}

	.study-bible.reading .verse
		{
		display:inline;
		}

	.study-bible.reading verse.paragraph
		{
		margin-left:35px;
		}

	.study-bible.reading verse.paragraph.first-verse
		{
		margin-left:-5px;
		}

	.study-bible.reading .context 
		{
		display:none;
		width:1px;
		}

	.study-bible.reading #book-name 
		{
		margin-left:-30px;
		}

	.study-bible.reading #chapter-number 
		{
		margin-right:-30px;
		}
	







	.bible 
		{		
		position:relative;
		z-index:101;
		background-color:#fff;
		box-shadow:0px 0px 7px rgba(0,0,0,0.1),inset -15px 0 15px -15px rgba(0,0,0,0.2);
		border:1px solid #ddd;
		border-radius:10px 0 0 10px;
		padding:10px 25px 25px 25px;
		max-width:50%;
		}

	.holman-xref .bible 
		{
		position:relative;
		z-index:101;
		background-color:#fff;
		box-shadow:0px 0px 7px rgba(0,0,0,0.1),inset -15px 0 15px -15px rgba(0,0,0,0.2);
		border:1px solid #ddd;
		border-radius:10px 0 0 10px;
		padding:10px 25px 25px 25px;
		max-width:53%;		
		}

	div.study-bible
		{
		margin:0;
		}
	div.bible.row
		{
		margin:0;
		display:block;
		}



	.smallcaps 
		{
		font-variant:small-caps;
		}



		

	intro.intro
		{
		display:block;
		width:90%;
		text-align:center;
		font-style:italic;
		margin-bottom:15px;
		font-size:16px;
		margin-left:auto;
		margin-right:auto;
		}
	
	.words 
		{		
		position:relative;
		display:block;
		z-index:101;
		background-color:#fff;
		box-shadow:0px 0px 7px rgba(0,0,0,0.1);
		border:1px solid #ddd;
		border-radius:10px;
		padding:10px 25px 25px 25px;
		}
	.word-results
		{
		display:block;
		font-family: 'Ovo',serif;
		font-size:18px;
		line-height:1.3;
		padding-right:0 !important;
		padding-left:10px !important;
		color:#000;	
		margin-bottom:10px;	
		border-bottom:1px solid #ddd;
		padding-bottom:10px;
		}
	.word-results-reference 
		{
		font-weight:bold;
		font-family: "Montserrat", sans-serif;
		font-weight:600;
		font-size:15px;
		color:#800;
		}
	.word-results-reference .in-context 
		{
		float:right;
		font-weight:normal;
		font-size:12px;
		}
	.word-results-reference .in-context a
		{
		color:#800;
		}
	.word-results-text 
		{
		text-align:justify;
		}
	.word-results-title 
		{
		display:block;
		width:100%;	
		font-family: "Montserrat", sans-serif;
		text-align:center;
		border-bottom:solid 1px #ddd;
		margin-bottom:10px;
		}
	.words .pagination 
		{
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
		margin-bottom:10px;
		justify-content:center;
		}
	.words .pagination .page-item .page-link
		{
		background-color:#fff;
		color:#800;
		border-color:#ddd;
		font-family: "Montserrat", sans-serif;
		font-weight:450;
		width:40px;
		text-align:center;
		white-space:nowrap;
		}
	.words .pagination .page-item.active .page-link
		{
		background-color:#800;
		color:#fff;
		}
	.words .pagination .page-item.first .page-link
		{
		border-top-left-radius:15px;
		border-bottom-left-radius:15px;
		padding-left:15px;
		}
	.words .pagination .page-item.last .page-link
		{
		border-top-right-radius:15px;
		border-bottom-right-radius:15px;
		padding-right:28px;
		}
		
		

/********************************/

	
	
	.holman-xref verses
		{
		border-left:1px solid #eee;
		margin-left:14%;
		padding-left:10px !important;
		color:#000;
		}

	


	@media (max-width: 750px) and (min-width:600px){

		.bible-search-form {
			flex:0 0 75%;
			max-width: 75%;
			}

		}


	@media (max-width: 599px){

		.bible-search-form {
			flex:0 0 100%;
			max-width: 100%;
			}

		}

		